<mat-toolbar class="test-toolbar">
  <button mat-stroked-button color="accent" (click)="goToDetail(-1)" matTooltip="Založit nový test">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>


<div class="mat-elevation-z2 tests">
  <mat-form-field appearance="standard" *ngIf="courses" style="margin-left: 30px">
    <mat-label>Kurz</mat-label>
    <mat-select placeholder="Kurz" name="id_course" [(ngModel)]="filter_id_course" (selectionChange)="applyFilter($event.value)">
      <!--<mat-option [value]="">(nerozhoduje)</mat-option>-->
      <mat-option *ngFor="let key of sortedObjectKeys(courses)" [value]="+key">
        {{courses[key]}}
      </mat-option>
    </mat-select>
    <button mat-icon-button (click)='filter_id_course=""; applyFilter(""); $event.stopPropagation()' *ngIf='filter_id_course != ""' matSuffix aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" *ngIf="tests">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="id_test">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id_test}} </td>
    </ng-container>

    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef> Kurz </th>
      <td mat-cell *matCellDef="let element"> {{courses[element.id_course]}} </td>
    </ng-container>

    <ng-container matColumnDef="semester">
      <th mat-header-cell *matHeaderCellDef> Semestr </th>
      <td mat-cell *matCellDef="let element"> {{semesters[element.id_semester]}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Označení </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef> Skupina </th>
      <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>

    <ng-container matColumnDef="enter_date">
      <th mat-header-cell *matHeaderCellDef> Datum vytvoření </th>
      <td mat-cell *matCellDef="let element"> {{element.enter_date | date:'mediumDate'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row.id_test)" [class.selected-test]="testService.last_currentTestId == row.id_test"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>

</div>



