table {
  width: 100%;
}

.tests {
  margin: 30px 30px 10px 30px;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.selected-test {
  background-color: rgba(0, 0, 0, 0.08);
}
