<h1 mat-dialog-title>Výběr obrázku</h1>
<div mat-dialog-content style="position: relative; padding-left:40px; padding-right: 0px; background-color: #e0e0e090">

  <button mat-icon-button (click)="drawer.toggle()" style="position:absolute; z-index: 1000; left: 0px; top: 50%"><mat-icon>{{ drawer.opened ? "chevron_left" :  "chevron_right" }}</mat-icon></button>


  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side" style="background-color: #e0e0e090">
      <div class="filter">

        <mat-accordion>
          <mat-expansion-panel *ngFor="let course of categories" [expanded]="isCourseSelected(course)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{course.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list *ngFor="let c of course.categories">
              <a mat-list-item href="javascript: void(0)" (click)="loadImages(c.id_category)" [class.active]="selected_id_category==c.id_category">{{c.name}}</a><!--drawer.close();-->
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-drawer>
    <mat-drawer-content>

      <!--<mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>-->

      <div *ngFor="let img of images" class="imgContainer">
        <div class="imgTitle">
          <a [href]="getImgUrl(img.fileName, false)" target="_blank">{{getImgName(img.fileName)}}</a>
        </div>
        <a href="javascript:void(0)" (click)="onSelectClick(img)">
          <img [src]="getImgUrl(img.fileName, true)" />
        </a>
      </div>


    </mat-drawer-content>
  </mat-drawer-container>


</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" [attr.cdkFocusInitial]="true">Zrušit</button>
</div>
