<h1 mat-dialog-title>Výběr obrázku</h1>
<div mat-dialog-content>

  <div *ngFor="let img of images" class="imgContainer">
    <div class="imgTitle">
      <a [href]="getImgUrl(img.fileName, false)" target="_blank">{{getImgName(img.fileName)}}</a>
    </div>
    <a href="javascript:void(0)" (click)="onSelectClick(img)">
      <img [src]="getImgUrl(img.fileName, true)" />
    </a>
  </div>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" >Zrušit</button>
</div>
