.mat-dialog-content {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #f0f0f0;
}

.imgContainer {
  display: inline-block;
  margin:4px;
  padding:5px;
  background-color: #fafafa;
  position: relative;
}

  .imgContainer:hover {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.35);
  }

  .imgContainer img {
    max-height: 200px;
    max-width: 400px;
    vertical-align: middle;
  }

.imgTitle {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-color: #b0b0b04d;
  width: 100%;
  height: 25px;
  text-align: center;
  padding-top: 3px;
}

.imgContainer:hover .imgTitle {
  background-color: #b0b0b0ff;
}

.imgTitle a {
  text-decoration: none;
  color: #3f51b5;
  font-size: 14px;
  padding-left: 10px;
}

    .imgTitle a:hover {
      text-decoration: underline;
    }
