.history-card {
  margin: 10px 30px 10px 30px;
}

.history-toolbar {
  margin: 10px 30px 10px 30px;
  width: auto;
}

table {
  width: 100%;
  border-collapse:collapse;
}

.tests {
  margin: 10px 30px 10px 30px;
}

.mat-row {  
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  opacity:0.6;
}

.canedit {
  opacity: 1!important;
  cursor: pointer;
}

  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-left-color: #3f51b5;
  }
