.questionDetail {
  margin: 10px 30px 10px 30px;
}

mat-expansion-panel {
  margin-bottom: 10px;
  touch-action:pan-y;
}

.question {
  background-color: rgba(255,255,255,1.0);
}

.questionDetail .mat-expansion-panel-header {
  font-size: 17px;
  font-weight: 500;
}

.points {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size:12px;
  text-align:right;
}

.infoItemSeparator {
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid;
  border-right-width: 1px;
  border-right-color:#a0a0a0;
}

.infoItem {
 /*background-color : #eeeeee;
 padding:4px*/
 font-weight: 500;
 font-size:15px;
}

mat-panel-description mat-icon {
  /*margin-top: -3px;*/
  margin-right: 5px;
}

.answer {
  position:relative;
  padding: 5px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e1e1e1;
  background-color: rgba(255,255,255,1.0);
}

  .answer:hover {
    background-color: #f7f7f7;
    border-left-color: #3f51b5;
  }

  .answer .answer_tools {
    opacity: 0;
    transition: opacity 0s;
    margin-top: -48px;
  }

  .answer .answer_tools_test {
    margin-top: -18px;
  }


  .answer:hover .answer_tools {
    opacity: 1;
    transition: opacity 1s;
  }

.answerActionButton {
  margin-right: 8px;
  margin-bottom: 5px;
  opacity: 0.7;
}

  .answerActionButton:hover {
    opacity: 1;
  }
