<div *ngIf="question" class="questionDetail">
  <mat-expansion-panel [expanded]='question.question.trim() != "" || question.id_question_type == 2'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Otázka
      </mat-panel-title>
      <mat-panel-description fxHide.lt-md>
        <span class="infoItem">{{question.enter_date | date:'mediumDate'}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>person</mat-icon><span class="infoItem">{{relatedLists.allUsers[question.id_user]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.id_question_type == 2 ? "remove" : "list"}}</mat-icon><span class="infoItem">{{relatedLists.questionTypes[question.id_question_type]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.id_question_difficulty == 1 ? "star_border" : (question.id_question_difficulty == 2 ? "star_half" : "star")}}</mat-icon><span class="infoItem">{{relatedLists.questionDifficulties[question.id_question_difficulty]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.state == 0 ? "warning" : (question.state == 1 ? "done" : "pan_tool")}}</mat-icon><span class="infoItem">{{relatedLists.questionState[question.state]}}</span><span class="infoItemSeparator"></span>
        <span class="infoItem" style="width:100px">ID:
        <editable style="display:inline" (update)="goToId()">
          <ng-template viewMode><span class="showID" matTooltip="Přejít na otázku s zadaným ID">{{question.id_question}}</span></ng-template>
          <ng-template editMode><input focusable editableOnEnter [(ngModel)]="goto_id_question" class="goToID"></ng-template>
        </editable>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="question">
      <mathjax [content]='question.question' [changeDirection]="questionsComponent.changeDirection"></mathjax>
    </div>
    <div class="points">({{sumPoints()}})</div>

    <button mat-stroked-button color="primary" (click)="editQuestion(false)" matTooltip="Upravit otázku" [disabled]="!question.canEdit">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-stroked-button color="primary" (click)="questionsComponent.copyQuestion()" matTooltip="Vytvořit kopii otázky" style="margin-left: 6px;" [disabled]="!questionsComponent.testRight(2)">
      <mat-icon>file_copy</mat-icon>
    </button>

    <button mat-stroked-button color="primary" (click)="linkToClipboard()" matTooltip="Kopírovat adresu otázky" style="margin-left: 6px;">
      <mat-icon>link</mat-icon>
    </button>


    <button mat-stroked-button color="warn" (click)="delQuestion()" matTooltip="Smazat otázku" style="margin-left: 6px;" [disabled]="!question.canEdit || question['useCount'] != 0">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button mat-stroked-button color="primary" (click)="questionHistory()" matTooltip="Historie použití" style="margin-left: 6px;" [matBadge]="question['useCount']" matBadgePosition="above after" matBadgeColor="primary" matBadgeSize="medium" matBadgeOverlap="true" [matBadgeHidden]="false">
      <mat-icon>history</mat-icon>
    </button>

  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="question.id_question_type!=2" [expanded]='question.id_question_type!=2'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ question.id_question_type==1 ? "Odpovědi" : "Podtázky"}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let answer of question.answers; trackBy: trackByFn; let i = index" class="answer">
      <mathjax [content]='"\\textbf{" + answer.position + ")} " + answer.answer + "<!--" + question.id_question + "-->"' [changeDirection]="questionsComponent.changeDirection"></mathjax>
      <div *ngIf="question.id_question_type != 1" class="points">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 && answer.points > 0 ? "body" : "bodů")}})</div>

      <div fxLayout class="answer_tools" [class.answer_tools_test]="question.id_question_type == 1">
        <div fxFlex fxLayoutAlign="center center">
          <button mat-mini-fab color="primary" (click)="editAnswer(answer)" matTooltip='Upravit {{ question.id_question_type==1 ? "odpověď" : "podtázku"}}' class="answerActionButton" [disabled]="!question.canEdit">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-mini-fab color="primary" (click)="moveAnswer(answer, 1)" matTooltip="Posunout dolů" class="answerActionButton" [disabled]="!question.canEdit || i==question.answers.length-1">
            <mat-icon>arrow_downward</mat-icon>
          </button>

          <button mat-mini-fab color="primary" (click)="moveAnswer(answer, -1)" matTooltip="Posunout nahoru" class="answerActionButton" [disabled]="!question.canEdit || i==0">
            <mat-icon>arrow_upward</mat-icon>
          </button>

          <button mat-mini-fab color="warn" (click)="delAnswer(answer)" matTooltip='Smazat {{ question.id_question_type==1 ? "odpověď" : "podtázku"}}' class="answerActionButton" [disabled]="!question.canEdit">
            <mat-icon>delete_forever</mat-icon>
          </button>

        </div>
      </div>
      <button *ngIf="question.id_question_type == 1" mat-icon-button [color]='answer.position ==  question.right_answer ? "primary" : "primary"' (click)="setAsRightAnswer(answer)" style="position:absolute; right: 5px; top: 5px" [matTooltip]='answer.position ==  question.right_answer ? "Správná odpověď" : "Nastavit jako správnou odpověď"'>
        <mat-icon>{{answer.position ==  question.right_answer ? "check_circle" : "check_circle_outline"}}</mat-icon>
      </button>
    </div>
    <div style="margin-top:10px">
      <button (click)="addAnswer()" mat-stroked-button color="accent" matTooltip='Přidat {{ question.id_question_type==1 ? "odpověď" : "podtázku"}}' [disabled]="!question.canEdit">
        <mat-icon>add</mat-icon>
      </button>&nbsp;
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]='question.solution.trim() != "" || question.id_question_type==1'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Řešení
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="question">
      <mathjax [content]='question.solution + (question.id_question_type == 1 ? (question.solution != "" ? "\\\\\\\\" : "") + "Správná odpověď: \\textbf{" + question.right_answer + ")} " + "<!--" + question.id_question + "-->" : "")' [changeDirection]="questionsComponent.changeDirection"></mathjax>
    </div>
    <button mat-stroked-button color="primary" (click)="editQuestion(true)" matTooltip="Upravit řešení" style="margin-top:10px" [disabled]="!question.canEdit">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-expansion-panel>

</div>
