<div *ngIf="question" class="questionDetail">

  <mat-expansion-panel [expanded]='question.question.trim() != ""'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Otázka
      </mat-panel-title>
      <mat-panel-description>
        <span class="infoItem">{{question.enter_date | date:'mediumDate'}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>person</mat-icon><span class="infoItem">{{relatedLists.allUsers[question.id_user]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.id_question_type == 2 ? "remove" : "list"}}</mat-icon><span class="infoItem">{{relatedLists.questionTypes[question.id_question_type]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.id_question_difficulty == 1 ? "star_border" : (question.id_question_difficulty == 2 ? "star_half" : "star")}}</mat-icon><span class="infoItem">{{relatedLists.questionDifficulties[question.id_question_difficulty]}}</span><span class="infoItemSeparator"></span>
        <mat-icon inline>{{question.state == 0 ? "warning" : (question.state == 1 ? "done" : "pan_tool")}}</mat-icon><span class="infoItem">{{relatedLists.questionState[question.state]}}</span><span class="infoItemSeparator"></span>
        <span class="infoItem">id: {{question.id_question}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mathjax [content]='question.question'></mathjax>
    <div class="points">({{question.points}} {{question.points == 1 ? "bod" : (question.points < 5 ? "body" : "bodů")}})</div>
    <button mat-icon-button color="primary" (click)="editQuestion(false)" matTooltip="Upravit otázku">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="question.id_question_type!=2" [expanded]='question.answers.length > 0'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ question.id_question_type==1 ? "Odpovědi" : "Podtázky"}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let answer of question.answers" class="answer">
      <mathjax [content]='answer.position + ") " + answer.answer'></mathjax>
      <div *ngIf="question.id_question_type != 1" class="points">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 && answer.points > 0 ? "body" : "bodů")}})</div>

      <div fxLayout class="answer_tools">
        <div fxFlex fxLayoutAlign="center">
          <button mat-mini-fab color="default" (click)="editAnswer(answer)" matTooltip='Upravit {{ question.id_question_type==1 ? "odpověď" : "podtázku"}}'>
            <mat-icon>edit</mat-icon>
          </button>


          <!--<button (click)="moveDown(question)" mat-mini-fab color="default" matTooltip="Posunout dolů" class="questionActionButton" [disabled]="i==testService.getQuestions().length-1">
            <mat-icon>arrow_downward</mat-icon>
          </button>-->
        </div>
      </div>

    </div>
    <div>
      <button (click)="addAnswer()" mat-stroked-button color="primary" matTooltip='Přidat {{ question.id_question_type==1 ? "odpověď" : "podtázku"}}'>
        <mat-icon>add</mat-icon>
      </button>&nbsp;
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]='question.solution.trim() != ""'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Řešení
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mathjax [content]='question.solution'></mathjax>
    <button mat-icon-button color="primary" (click)="editQuestion(true)" matTooltip="Upravit řešení">
      <mat-icon>edit</mat-icon>
    </button>
    <div *ngIf="question.id_question_type==1">
      Správná odpověď: {{question.right_answer}}
    </div>
  </mat-expansion-panel>

</div>
