/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/eclipse.css";

/*@import "~codemirror/theme/material.css";
@import "~codemirror/theme/cobalt.css";
@import "~codemirror/theme/neat.css";*/

.CodeMirror {
  height: 100% !important;
  /*font-family: inherit;*/
}

.cm-s-eclipse span.cm-number {
  color: #c64;
}


html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip {
  font-size: 13px !important;
}

.mat-button:hover .mat-button-focus-overlay, .mat-stroked-button:hover .mat-button-focus-overlay, .mat-raised-button:hover .mat-button-focus-overlay {
  opacity: .2 !important;
}

.mat-raised-button {
  opacity: 1;
}

  .mat-raised-button:hover {
    opacity: 0.8;
  }


.mat-icon-button:hover {
  background-color: rgba(200,200,200,0.5);
  transition: background-color 1s;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}

@media print {
  app-root > * {
    display: none;
  }

  app-root app-test-print {
    display: block;
  }
}
