/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/eclipse.css";

/*@import "~codemirror/theme/material.css";
@import "~codemirror/theme/cobalt.css";
@import "~codemirror/theme/neat.css";*/

.CodeMirror {
  height: 100% !important;
  font-family: inherit;
}

.cm-s-eclipse span.cm-number {
  color: #c64;
}


html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
  app-root > * {
    display: none;
  }

  app-root app-test-print {
    display: block;
  }
}
