<mat-toolbar class="test-toolbar">
  <button mat-stroked-button color="primary" (click)="goBack()" matTooltip="Návrat zpět na seznam testů">
    <mat-icon>arrow_back</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="accent" (click)="goToQuestions()" matTooltip="Vybrat otázky">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="print()" matTooltip="Tisk">
    <mat-icon>print</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" [matMenuTriggerFor]="menuDownloadTex" matTooltip="Stáhnout LaTeX">
    <mat-icon>save_alt</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="editTest()" matTooltip="Upravit vlastnosti testu">
    <mat-icon>edit</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="warn" (click)="delTest()" matTooltip="Smazat test">
    <mat-icon>delete_forever</mat-icon>
  </button>


  <mat-menu #menuDownloadTex="matMenu">
    <a mat-menu-item [href]='"/api/tests/download?style=1&showPoints=" + showPoints + "&showSolution=" + showSolution + "&idList=" + testService.getQuestionIdList()' download>
      <mat-icon>format_align_left</mat-icon>
      <span>Výchozí Styl</span>
    </a>
    <a mat-menu-item [href]='"/api/tests/download?style=2&showPoints=" + showPoints + "&showSolution=" + showSolution + "&idList=" + testService.getQuestionIdList()' download>
      <mat-icon>format_list_numbered</mat-icon>
      <span>Styl enumerate</span>
    </a>
  </mat-menu>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <mat-slide-toggle [(ngModel)]="showSolution" color="primary">Zobrazit řešení</mat-slide-toggle>
    &nbsp;
    <mat-slide-toggle [(ngModel)]="showPoints" color="primary">Zobrazit body</mat-slide-toggle>
  </div>
</mat-toolbar>

<mat-card class="test-card" *ngIf="test">

  <div class="infoBar">
    <span class="infoItem">id: {{test.id_test}}</span><span class="infoItemSeparator"></span>
    <span class="infoItem">{{courses[test.id_course]}}</span><span class="infoItemSeparator"></span>
    <span class="infoItem">{{semesters[test.id_semester]}}</span><span class="infoItemSeparator"></span>
    <span class="infoItem">{{test.year}}</span><span class="infoItemSeparator" *ngIf='test.year != ""'></span>
    <span class="infoItem">{{test.group}}</span><span class="infoItemSeparator" *ngIf='test.group != ""'></span>
    <span class="infoItem">{{test.enter_date | date:'mediumDate'}}</span>
  </div>

  <div *ngFor="let question of test.questions; let i = index" class="question">
    <mathjax *ngIf='question.question != ""' [content]='"<b>" + (i+1).toString() + ".</b> " +  question.question'></mathjax>
    <div *ngFor="let answer of question.answers" class="answer" [class.noPoints]="answer.points == 0 || !showPoints">
      <mathjax [content]='(question.question == "" && answer.position =="a"  ? "<b>" + (i+1).toString() + ".</b> " : "") + answer.position + ") " +  answer.answer'></mathjax>
      <div class="points" [hidden]="answer.points == 0 || !showPoints">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 ? "body" : "bodů")}})</div>
    </div>
    <div class="points" [hidden]="question.points == 0 || !showPoints || question.id_question_type == 3">({{question.points}} {{question.points == 1 ? "bod" : (question.points < 5 ? "body" : "bodů")}})</div>

    <div [hidden]="!showSolution" class="answer">
      <h5>Řešeni:</h5>
      <mathjax [content]='question.solution'></mathjax>
      <div *ngIf="question.id_question_type==1" style="margin-top:10px">
        Správná odpověď: {{question.right_answer}})
      </div>
    </div>

    <div fxLayout class="question_tools">
      <div fxFlex fxLayoutAlign="center">
        <button (click)="moveDown(question)" mat-mini-fab color="primary" matTooltip="Posunout dolů" class="questionActionButton" [disabled]="i==test.questions.length-1">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button (click)="moveUp(question)" mat-mini-fab color="primary" matTooltip="Posunout nahoru" class="questionActionButton" [disabled]="i==0">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button (click)="removeFromTest(question)" mat-mini-fab color="warn" matTooltip="Odebrat z testu" class="questionActionButton">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <div *ngIf="test.questions.length == 0">Nejsou vybrány žádné příklady</div>


</mat-card>
