.test-card {
  margin: 10px 30px 10px 30px;
}

.test-toolbar {
  margin: 10px 30px 10px 30px;
  width: auto;
  position: sticky;
  top: 64px;
  z-index: 5000;
}

.answer {
  /*padding-left: 20px;*/
  background-color: inherit;
}

.points {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 12px;
  text-align: right;
}


.questionActionButton {
  margin-right: 8px;
  margin-bottom: 5px;
  opacity: 0.7;
}

.questionActionButton:hover {
  opacity: 1;
}

.question {
  padding: 5px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e1e1e1;
  background-color: rgba(255,255,255,1.0);
}

.noPoints {
  margin-bottom: 14px;
}


.question:hover {
  background-color: #f7f7f7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #3f51b5;
}

.question .question_tools {
  opacity: 0;
  transition: opacity 0s;
  margin-top: -18px;
}

.question:hover .question_tools {
  transition: opacity 1s;
  opacity: 1;
}

mat-slide-toggle {
  font-size: 15px;
  font-weight: 400;
}

.infoBar {
  margin-bottom: 20px;
  text-align:center;
}

.infoItemSeparator {
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #a0a0a0;
}

.infoItem {
  font-weight: 500;
  font-size: 15px;
  color:rgba(0,0,0,.54) ;
}

h5 {
  font-size: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
}
