<mat-toolbar class="test-toolbar">
  <button mat-stroked-button color="primary" (click)="goBack()" matTooltip="Návrat zpět na seznam testů">
    <mat-icon>arrow_back</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="accent" (click)="goToQuestions()" matTooltip="Vybrat otázky">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="print()" matTooltip="Tisk">
    <mat-icon>print</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" [matMenuTriggerFor]="menuDownloadTex" matTooltip="Stáhnout LaTeX">
    <mat-icon>save_alt</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="editTest()" matTooltip="Upravit vlastnosti testu">
    <mat-icon>edit</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="warn" (click)="delTest()" matTooltip="Smazat test">
    <mat-icon>delete_forever</mat-icon>
  </button>


  <mat-menu #menuDownloadTex="matMenu">
    <a mat-menu-item [href]='"/api/tests/DownloadTestLaTeX?style=1&showPoints=" + showPoints + "&showSolution=" + showSolution + "&id_test=" + test?.id_test + "&infoBarItems=" + infoBarItems' download>
      <mat-icon>format_align_left</mat-icon>
      <span>Výchozí Styl</span>
    </a>
    <a mat-menu-item [href]='"/api/tests/DownloadTestLaTeX?style=2&showPoints=" + showPoints + "&showSolution=" + showSolution + "&id_test=" + test?.id_test + "&infoBarItems=" + infoBarItems' download>
      <mat-icon>format_list_numbered</mat-icon>
      <span>Styl enumerate</span>
    </a>
  </mat-menu>

  <mat-spinner *ngIf="printing" [diameter]="40" fxFlexOffset="50px"></mat-spinner>

  <div fxFlex fxLayout fxLayoutAlign="flex-end center">
    <mat-slide-toggle [(ngModel)]="showSolution" color="primary" (change)="onShowChange()">Zobrazit řešení</mat-slide-toggle>
    &nbsp;
    <mat-slide-toggle [(ngModel)]="showPoints" color="primary" (change)="onShowChange()">Zobrazit body</mat-slide-toggle>

  </div>
</mat-toolbar>

<mat-card class="test-card" *ngIf="test">

  <div class="infoBar" *ngIf="test && test.id_test > 0"> <!--infoBarItems != 0-->
    <span class="infoItem" *ngIf="testInfoBarItemsBit(1)">id: {{test.id_test}}</span><span class="infoItemSeparator" *ngIf="testInfoBarItemsBit(1, true)"></span>
    <span class="infoItem" *ngIf="testInfoBarItemsBit(2)">{{courses[test.id_course]}}</span><span class="infoItemSeparator" *ngIf="testInfoBarItemsBit(2, true)"></span>
    <span class="infoItem" *ngIf="testInfoBarItemsBit(4)">{{semesters[test.id_semester]}}</span><span class="infoItemSeparator" *ngIf="testInfoBarItemsBit(4, true)"></span>
    <span class="infoItem" *ngIf="testInfoBarItemsBit(8)">{{test.year}}</span><span class="infoItemSeparator" *ngIf='test.year != "" && testInfoBarItemsBit(8, true)'></span>
    <span class="infoItem" *ngIf="testInfoBarItemsBit(16)">{{test.group}}</span><span class="infoItemSeparator" *ngIf='test.group != "" && testInfoBarItemsBit(16, true)'></span>
    <span class="infoItem" *ngIf="testInfoBarItemsBit(32)">{{test.enter_date | date:'mediumDate'}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menuinfoBarItems" aria-label="Zobrazit v hlavičce testu ..." matTooltip="Zobrazit v hlavičce testu ..." style="margin-left:5px;top:-2px">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuinfoBarItems="matMenu">
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(1)" (change)="setInfoBarItemsBit(1, $event.checked)">ID testu</mat-checkbox>
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(2)" (change)="setInfoBarItemsBit(2, $event.checked)">Kurz</mat-checkbox>
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(4)" (change)="setInfoBarItemsBit(4, $event.checked)">Semestr</mat-checkbox>
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(8)" (change)="setInfoBarItemsBit(8, $event.checked)">Označení</mat-checkbox>
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(16)" (change)="setInfoBarItemsBit(16, $event.checked)">Skupina</mat-checkbox>
      <mat-checkbox (click)="$event.stopPropagation()" class="mat-menu-item" [checked]="testInfoBarItemsBit(32)" (change)="setInfoBarItemsBit(32, $event.checked)">Datum vytvoření</mat-checkbox>

    </mat-menu>

  </div>

  <div *ngFor="let question of test.questions; let i = index" class="question">
    <mathjax *ngIf='question.question != ""' [content]='"<b>" + (i+1).toString() + ".</b> " +  question.question'></mathjax>
    <div *ngFor="let answer of question.answers" class="answer" [class.noPoints]="answer.points == 0 || !showPoints">
      <mathjax [content]='(question.question == "" && answer.position =="a"  ? "<b>" + (i+1).toString() + ".</b> " : "") + answer.position + ") " +  answer.answer'></mathjax>
      <div class="points" [hidden]="answer.points == 0 || !showPoints">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 ? "body" : "bodů")}})</div>
    </div>
    <div class="points" [hidden]="question.points == 0 || !showPoints || question.id_question_type == 3">({{question.points}} {{question.points == 1 ? "bod" : (question.points < 5 ? "body" : "bodů")}})</div>

    <div [hidden]="!showSolution" class="answer">
      <h5>Řešení:</h5>
      <mathjax [content]='question.solution + (question.id_question_type == 1 ? (question.solution != "" ? "\\\\\\\\" : "") + "Správná odpověď: \\textbf{" + question.right_answer + ")} " : "")'></mathjax>
      <!--<div *ngIf="question.id_question_type==1" style="margin-top:10px">
        Správná odpověď: {{question.right_answer}})
      </div>-->
    </div>

    <div fxLayout class="question_tools">
      <div fxFlex fxLayoutAlign="center">
        <button (click)="moveDown(question)" mat-mini-fab color="primary" matTooltip="Posunout dolů" class="questionActionButton" [disabled]="i==test.questions.length-1">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button (click)="moveUp(question)" mat-mini-fab color="primary" matTooltip="Posunout nahoru" class="questionActionButton" [disabled]="i==0">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button (click)="goToQuestion(question)" mat-mini-fab color="primary"  matTooltip='Upravit otázku' class="questionActionButton">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="removeFromTest(question)" mat-mini-fab color="warn" matTooltip="Odebrat z testu" class="questionActionButton">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <div *ngIf="test.questions.length == 0">Nejsou vybrány žádné otázky</div>


</mat-card>
