.test-card {
  margin: 10px 30px 10px 30px;
}

.test-toolbar {
  margin: 10px 30px 10px 30px;
  width: auto;
}

/*.answer {
  padding-left: 20px;
}*/

.points {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 12px;
  text-align: right;
}


.questionActionButton {
  margin-right: 8px;
  margin-bottom: 5px;
}

.question {
  padding: 5px;
}

.noPoints {
  margin-bottom: 14px;
}


.question:hover {
  background-color: #f5f5f5;
}

.question .question_tools {
  opacity: 0;
  margin-top: -50px;
}

.question:hover .question_tools {
  opacity: 1;
}

mat-slide-toggle {
  font-size: 15px;
  font-weight: 400;
}
