.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

/*.sidenav .mat-toolbar {
  background: inherit;
}*/

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.active {
  background-color: rgba(0, 0, 0, 0.08);
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.app-nav-list-icon {
  margin: 0 12px 0 0;
}

#aLogo {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 4px;
  margin-right: 12px;
  margin-top: auto;
  margin-bottom:auto;
}

  #aLogo img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
  }

    #aLogo img.top {
      opacity: 0;
    }

    #aLogo img.top:hover {
      opacity: 1;
    }
