<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <mat-icon matListIcon class="app-nav-list-icon">school</mat-icon>Kurzy
    </mat-toolbar>

    <mat-nav-list>

      <a *ngFor="let course of courses" mat-list-item [routerLinkActive]='["active"]' [routerLink]='"/questions/" + course.id_course ' (click)="closeSideNav()" #routerLinkActiveInstance="routerLinkActive">
        <mat-icon matListIcon class="app-nav-list-icon">
          {{routerLinkActiveInstance.isActive ? "play_arrow" : "chevron_right" }}
        </mat-icon>
        {{course.name}}
      </a>

      <!--
      <a mat-list-item [routerLinkActive]='["active"]' [routerLink]="['/hello',{full: false}]">Hello</a>
      <a mat-list-item [routerLinkActive]='["active"]' [routerLink]="['/hello1',{full: true}]">Hello 1</a>
      -->

      <mat-divider></mat-divider>

      <a mat-list-item [routerLinkActive]='["active"]' routerLink="/test" (click)="closeSideNav()">
        <mat-icon matListIcon class="app-nav-list-icon">shopping_cart</mat-icon>
        Sestavit test
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon matListIcon class="app-nav-list-icon" *ngIf="!(isHandset$ | async)">functions</mat-icon>
      <span>Quiz maker {{course_title}}</span>

      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <!--<li fxHide.xs>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </li>
  <li fxHide.xs>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
  </li>-->
          <li fxHide.xs>
            <a routerLink="/test" mat-icon-button [matBadge]="testService.count" matBadgePosition="before|below" matBadgeColor="accent" matBadgeSize="medium" matBadgeOverlap="true" [matBadgeHidden]="testService.count == 0">
              <mat-icon>shopping_cart</mat-icon>
            </a>
          </li>          
          <li>
            <button mat-icon-button [matMenuTriggerFor]="auth">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button *ngIf="isAuthenticated" mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Odhlásit {{fullName}}</span>
              </button>
              <button *ngIf="!isAuthenticated" mat-menu-item (click)="login()">
                <mat-icon>person</mat-icon>
                <span>Přihlásit se</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>


    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
