<mat-card class="question-filter-card">
  <mat-form-field class="select-category question-filter-select">
    <mat-select placeholder="Kategorie" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_category" panelClass="panel-category">
      <mat-option *ngFor="let category of courseCategories" [value]="category.id_category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="question-filter-select">
    <mat-select placeholder="Autor" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_user">
      <mat-option *ngFor="let user of courseUsers" [value]="user.id_user">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="question-filter-select">
    <mat-select placeholder="Typ" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_type">
      <mat-option [value]="0">(nerozhoduje)</mat-option>
      <mat-option *ngFor="let key of objectKeys(questionTypes)" [value]="key">
        {{questionTypes[key]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="question-filter-select">
    <mat-select placeholder="Obtížnost" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_difficulty">
      <mat-option [value]="0">(nerozhoduje)</mat-option>
      <mat-option *ngFor="let key of objectKeys(questionDifficulties)" [value]="key">
        {{questionDifficulties[key]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="question-filter-select">
    <mat-select placeholder="Stav" (selectionChange)="onFilterChange()" [(ngModel)]="filter.state">
      <mat-option [value]="-1">(nerozhoduje)</mat-option>
      <mat-option *ngFor="let key of objectKeys(questionState)" [value]="key">
        {{questionState[key]}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>

<mat-toolbar class="question-toolbar" *ngIf="question">

  <button (click)="goto(1)" mat-stroked-button color="primary" matTooltip="Přejít na první otázku">
    <mat-icon>first_page</mat-icon>
  </button>&nbsp;

  <button (click)="prev()" mat-stroked-button color="primary" matTooltip="Přejít na předchozí otázku">
    <mat-icon>navigate_before</mat-icon>
  </button>&nbsp;

  <input class="inputGoTo" type="text" [value]="current+1" (input)="goto($event.target.value)">&nbsp;/&nbsp;{{questions ? questions.length : 0}}&nbsp;

  <button (click)="next()" mat-stroked-button color="primary" matTooltip="Přejít na další otázku">
    <mat-icon>navigate_next</mat-icon>
  </button>&nbsp;

  <button (click)="goto(questions ? questions.length : 0)" mat-stroked-button color="primary" matTooltip="Přejít na poslední otázku">
    <mat-icon>last_page</mat-icon>
  </button>&nbsp;

  <mat-slide-toggle [(ngModel)]="filter.sortFromOldest" (change)="onFilterChange()" color="primary">Od nejstarších</mat-slide-toggle>

  <div fxFlex fxLayout fxLayoutAlign="center">
    <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <button (click)="addToTest()" mat-stroked-button color="accent" matTooltip="Vložit do testu" [disabled]="testService.Contains(question)" [matBadge]="testService.Get().length" matBadgePosition="before" matBadgeColor="accent">
      <mat-icon>add</mat-icon>
    </button>&nbsp;
    <button (click)="removeFromTest()" mat-stroked-button color="accent" matTooltip="Odebrat z testu" [disabled]="!testService.Contains(question)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-question-detail [question]="question" [allUsers]="allUsers" [questionTypes]="questionTypes" [questionDifficulties]="questionDifficulties" [questionState]="questionState" ></app-question-detail>

<mat-card class="question-card" *ngIf="!question">
  Nenalezena žádná otázka
</mat-card>
