<mat-card class="question-filter-card" *ngIf="!accessDenied">
  <mat-form-field class="select-category question-filter-select" appearance="standard">
    <mat-label>Téma</mat-label>
    <mat-select placeholder="Téma" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_category" panelClass="panel-category">
      <mat-option *ngFor="let category of courseCategories" [value]="category.id_category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="question-filter-select" appearance="standard">
    <mat-label>Autor</mat-label>
    <mat-select placeholder="Autor" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_user" multiple>
      <mat-option *ngFor="let user of courseUsers" [value]="user.id_user">
        {{user.name}}
      </mat-option>
    </mat-select>
    <button mat-icon-button (click)='filter.id_user=""; onFilterChange(); $event.stopPropagation()' *ngIf='filter.id_user != ""' matSuffix aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="question-filter-select" appearance="standard">
    <mat-label>Typ</mat-label>
    <mat-select placeholder="Typ" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_type" multiple>
      <!--<mat-option [value]="0">(nerozhoduje)</mat-option>-->
      <mat-option *ngFor="let key of objectKeys(questionTypes)" [value]="key">
        {{questionTypes[key]}}
      </mat-option>
    </mat-select>
    <button mat-icon-button (click)='filter.id_type=""; onFilterChange(); $event.stopPropagation()' *ngIf='filter.id_type != ""' matSuffix aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="question-filter-select" appearance="standard">
    <mat-label>Obtížnost</mat-label>
    <mat-select placeholder="Obtížnost" (selectionChange)="onFilterChange()" [(ngModel)]="filter.id_difficulty" multiple>
      <!--<mat-option [value]="0">(nerozhoduje)</mat-option>-->
      <mat-option *ngFor="let key of objectKeys(questionDifficulties)" [value]="key">
        {{questionDifficulties[key]}}
      </mat-option>
    </mat-select>
    <button mat-icon-button (click)='filter.id_difficulty=""; onFilterChange(); $event.stopPropagation()' *ngIf='filter.id_difficulty != ""' matSuffix aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="question-filter-select" appearance="standard">
    <mat-label>Stav</mat-label>
    <mat-select placeholder="Stav" (selectionChange)="onFilterChange()" [(ngModel)]="filter.state" multiple>
      <!--<mat-option [value]="-1">(nerozhoduje)</mat-option>-->
      <mat-option *ngFor="let key of objectKeys(questionState)" [value]="key">
        {{questionState[key]}}
      </mat-option>
    </mat-select>
    <button mat-icon-button (click)='filter.state=""; onFilterChange(); $event.stopPropagation()' *ngIf='filter.state != ""' matSuffix aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div fxFlex fxLayout fxLayoutAlign="flex-end center">
    <button mat-icon-button [matMenuTriggerFor]="menuOther" aria-label="Nastavení kurzu" matTooltip="Nastavení kurzu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuOther="matMenu">
      <button mat-menu-item (click)="editCategories()" [disabled]="!testRight(1)">
        <mat-icon>view_list</mat-icon>
        <span>Editace témat</span>
      </button>
      <button mat-menu-item [disabled]="!testRight(1)">
        <mat-icon>how_to_reg</mat-icon>
        <span>Nastavení práv</span>
      </button>
    </mat-menu>
  </div>
</mat-card>

<mat-toolbar class="question-toolbar" *ngIf="!accessDenied">

  <div *ngIf="question" fxFlex fxLayout fxLayoutAlign="flex-start center" style="margin-right:50px">
    <button (click)="goto(1)" mat-stroked-button color="primary" matTooltip="Přejít na první otázku">
      <mat-icon>first_page</mat-icon>
    </button>

    <button (click)="prev()" mat-stroked-button color="primary" matTooltip="Přejít na předchozí otázku" fxFlexOffset="6px">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <input class="inputGoTo" type="text" [value]="current+1" (input)="goto($event.target.value)" fxFlexOffset="6px">&nbsp;/&nbsp;{{questions ? questions.length : 0}}

    <button (click)="next()" mat-stroked-button color="primary" matTooltip="Přejít na další otázku" fxFlexOffset="6px">
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button (click)="goto(questions ? questions.length : 0)" mat-stroked-button color="primary" matTooltip="Přejít na poslední otázku" fxFlexOffset="6px">
      <mat-icon>last_page</mat-icon>
    </button>

    <button (click)="questionDetail.question=addQuestion();questionDetail.editQuestion(false)" mat-stroked-button color="accent" matTooltip='Přidat novou otázku' fxFlexOffset="6px">
      <mat-icon>add</mat-icon>
    </button>&nbsp;

    <mat-slide-toggle [(ngModel)]="filter.sortFromOldest" (change)="onFilterChange()" color="primary" fxFlexOffset="10px">Od nejstarších</mat-slide-toggle>

    <mat-spinner *ngIf="loading" [diameter]="40" fxFlexOffset="50px"></mat-spinner>
  </div>

  <!--<div fxFlex fxLayout fxLayoutAlign="flex-start center">
    <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
  </div>-->

  <div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="testService.currentTestId() != -1">
    <button (click)="addToTest()" mat-raised-button color="accent" matTooltip="Vložit otázku do testu" [disabled]="!question || testService.contains(question)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button (click)="removeFromTest()" mat-raised-button color="accent" matTooltip="Odebrat otázku z testu" [disabled]="!question || !testService.contains(question)" fxFlexOffset="6px">
      <mat-icon>remove_shopping_cart</mat-icon>
    </button>
  </div>

</mat-toolbar>

<app-question-detail #questionDetail [question]="question" (deleted)="onQuestionDeleted($event)"
                     [relatedLists]="{courseCategories: courseCategories, allUsers: allUsers, questionTypes: questionTypes, questionDifficulties: questionDifficulties, questionState: questionState}">
</app-question-detail>

<mat-card class="question-card" *ngIf="!question">
  {{ accessDenied ? "Nemáte povolen přístup k tomuto kurzu" : "Nenalezena žádná otázka" }}
</mat-card>
