.categories-card {
  margin: 10px 30px 10px 30px;
}

.categories-toolbar {
  margin: 10px 30px 10px 30px;
  width: auto;
}


input {
  width: 100%;
  max-width: 500px;
  padding: 3px;
  margin-left: -4px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  border: 1px solid #3f51b5;
}

mat-list-item {  
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
}

  mat-list-item:hover {
    background-color: #f7f7f7;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #3f51b5;
  }

editable {
  font-size: 14px!important;
  width: 95%;
}

.mat-list-item .delButton {
  opacity: 0;
  transition: opacity 0s;
}

.mat-list-item:hover .delButton {
  opacity: 1;
  transition: opacity 1s;
}

.delButton {
  opacity: 0.7;
}

  .delButton:hover {
    opacity: 1;
  }
