.print-test {
  margin: 0px;;
}

/*.answer {
  padding-left: 20px;
}*/

.points {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 11px;
  text-align: right;
}


.question {
  padding: 0px;
  page-break-inside: avoid;
}

.noPoints {
  margin-bottom: 14px;
}

@media screen {
  :host {
    display: none;
  }
}

.infoBar {
  margin-bottom: 20px;
  text-align: left;
}

.infoItemSeparator {
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #000;
}

.infoItem {
  font-weight: 500;
  font-size: 15px;
  /*color: rgba(0,0,0,.54);*/
}

