.print-test {
  margin: 0px;;
}

/*.answer {
  padding-left: 20px;
}*/

.points {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 11px;
  text-align: right;
}


.question {
  padding: 0px;
  page-break-inside: avoid;
}

.noPoints {
  margin-bottom: 14px;
}

@media screen {
  :host {
    display: none;
  }
}
