<div class="print-test">
  <div *ngFor="let question of testService.getQuestions(); let i = index" class="question" [class.noPoints]="!showPoints">
    <mathjax *ngIf='question.question != ""' [content]='"<b>" + (i+1).toString() + ".</b> " +  question.question'></mathjax>
    <div *ngFor="let answer of question.answers" class="answer" [class.noPoints]="!showPoints">
      <mathjax [content]='(question.question == "" && answer.position =="a"  ? "<b>" + (i+1).toString() + ".</b> " : "") + answer.position + ") " +  answer.answer'></mathjax>
      <div class="points" [hidden]="!showPoints">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 ? "body" : "bodů")}})</div>
    </div>
    <div class="points" [hidden]="!showPoints">({{question.points}} {{question.points == 1 ? "bod" : (question.points < 5 ? "body" : "bodů")}})</div>

    <div [hidden]="!showSolution" class="answer">
      <h5>Řešeni:</h5>
      <mathjax [content]='question.solution'></mathjax>
    </div>

  </div>

  <div *ngIf="testService.count == 0">Nejsou vybrány žádné příklady</div>

</div>
