<h2 mat-dialog-title>{{(data.newitem ? "Přidání " : "Editace ")}}testu</h2>
<mat-dialog-content>
  <form class="editForm" #editForm="ngForm" (ngSubmit)="submit(editForm.invalid)">

    <mat-form-field appearance="standard">
      <mat-label>Označení/skupina</mat-label>
      <input matInput placeholder="Označení/skupina" [(ngModel)]="data.group" name="group" required (input)="dirty=true">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Rok/poznámka</mat-label>
      <input matInput placeholder="Rok/poznámka" [(ngModel)]="data.year" name="year" required (input)="dirty=true">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Semestr</mat-label>
      <mat-select placeholder="Semestr" [(ngModel)]="data.id_semester" name="id_semester" required (selectionChange)="dirty=true">
        <mat-option *ngFor="let key of objectKeys(data.semesters)" [value]="+key">
          {{data.semesters[key]}}
        </mat-option>
      </mat-select>
    </mat-form-field>



  </form>
  </mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="editForm.invalid" accesskey="s" matTooltip="Uložit (alt +s)">Uložit</button>
  <button mat-button (click)="onNoClick()">Zrušit</button> <!--mat-dialog-close-->
</mat-dialog-actions>
