<h2 mat-dialog-title>{{(data.newitem ? "Nový test" : "Editace testu")}}</h2>
<form class="editForm" #editForm="ngForm" (ngSubmit)="submit(editForm.invalid)">

  <mat-dialog-content>

    <div fxLayout="column">

      <mat-form-field appearance="standard">
        <mat-label>Kurz</mat-label>
        <mat-select placeholder="Kurz" [(ngModel)]="data.id_course" name="id_course" required (selectionChange)="dirty=true">
          <mat-option *ngFor="let key of sortedObjectKeys(data.courses, true, false)" [value]="+key">
            {{data.courses[key]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Semestr</mat-label>
        <mat-select placeholder="Semestr" [(ngModel)]="data.id_semester" name="id_semester" required (selectionChange)="dirty=true">
          <mat-option *ngFor="let key of sortedObjectKeys(data.semesters, false, true)" [value]="+key">
            {{data.semesters[key]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Označení</mat-label>
        <input type="text" matInput placeholder="Označení" [(ngModel)]="data.year" name="year" (input)="dirty=true">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Skupina</mat-label>
        <input type="text" matInput placeholder="Skupina" [(ngModel)]="data.group" name="group" (input)="dirty=true">
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary" [disabled]="editForm.invalid" accesskey="s" matTooltip="Uložit (alt +s)">Uložit</button> <!--[mat-dialog-close]="data"-->
    <button type="button" mat-button (click)="onNoClick()">Zrušit</button> <!--mat-dialog-close-->
  </mat-dialog-actions>

</form>
