<mat-toolbar class="test-toolbar">
  <button mat-stroked-button color="primary" (click)="goBack()" matTooltip="Návrat zpět">
    <mat-icon>arrow_back</mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="print()" matTooltip="Tisk">
    <mat-icon>print</mat-icon>
  </button>
  &nbsp;
  <a mat-stroked-button color="primary" matTooltip="Stáhnout LaTeX" [href]='"/api/tests/download?showPoints=" + showPoints + "&showSolution=" + showSolution + "&idList=" + testService.getQuestionIdList()'>
    <!--target="_blank"-->
    <mat-icon>save_alt</mat-icon>
  </a>
  &nbsp;
  &nbsp;
  <mat-slide-toggle [(ngModel)]="showSolution" color="primary">Zobrazit řešení</mat-slide-toggle>
  &nbsp;
  <mat-slide-toggle [(ngModel)]="showPoints" color="primary">Zobrazit body</mat-slide-toggle>
</mat-toolbar>

<mat-card class="test-card">

  <div *ngFor="let question of testService.getQuestions(); let i = index" class="question" [class.noPoints]="!showPoints || question.id_question_type != 2">
    <mathjax *ngIf='question.question != ""' [content]='"<b>" + (i+1).toString() + ".</b> " +  question.question'></mathjax>
    <div *ngFor="let answer of question.answers" class="answer" [class.noPoints]="!showPoints">
      <mathjax [content]='(question.question == "" && answer.position =="a"  ? "<b>" + (i+1).toString() + ".</b> " : "") + answer.position + ") " +  answer.answer'></mathjax>
      <div class="points" [hidden]="!showPoints">({{answer.points}} {{answer.points == 1 ? "bod" : (answer.points < 5 ? "body" : "bodů")}})</div>
    </div>
    <div class="points" [hidden]="!showPoints || question.id_question_type != 2">({{question.points}} {{question.points == 1 ? "bod" : (question.points < 5 ? "body" : "bodů")}})</div>

    <div [hidden]="!showSolution" class="answer">
      <h5>Řešeni:</h5>
      <mathjax [content]='question.solution'></mathjax>
    </div>

    <div fxLayout class="question_tools">
      <div fxFlex fxLayoutAlign="center">
        <button (click)="moveDown(question)" mat-mini-fab color="default" matTooltip="Posunout dolů" class="questionActionButton" [disabled]="i==testService.getQuestions().length-1">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button (click)="moveUp(question)" mat-mini-fab color="default" matTooltip="Posunout nahoru" class="questionActionButton" [disabled]="i==0">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button (click)="removeFromTest(question)" mat-mini-fab color="default" matTooltip="Odebrat z testu" class="questionActionButton">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <div *ngIf="testService.count == 0">Nejsou vybrány žádné příklady</div>

</mat-card>
