.test-card {
  margin: 10px 30px 10px 30px;
}

.test-toolbar {
  margin: 10px 30px 10px 30px;
  width: auto;
}

.answer {
  padding-left: 20px;
}

.questionActionButton {
  margin-right: 8px;
  margin-bottom:5px;
}

.question {
  padding: 5px;
}

.question:hover {
  background-color: #f0f0f0;
}
